header{
    margin: 0px 20px 0px 20px;
    position:fixed;
    top: 0; left: 0; right: 0;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 120px;
    align-items:center;
    background-color:#fffaed;
}

header h1{
    margin-top: -15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald';font-size: 70px;
    color:black;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.shop{
    display:flex;
    flex-direction: row;
}

.shop span{
  display: inline;
}

body{
    background-color: #fffaed;
    font-family: 'Oswald';
    font-weight: bold;
}

h1{
    font-family: 'Oswald';font-size: 40px;
    text-transform: uppercase;
    color:rgb(225, 0, 255);
    margin-bottom: -10px;
}

h2{
    color:rgb(225, 0, 255);
}

.bloc_principal{
    align-items: flex-start;
    margin: 100px 50px 0px 50px;
    /* background-color: red; */
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;    

}

.images_defilement{
    /* box-sizing: border-box; */
    margin-top:150px;
    margin-left:200px;
    margin-bottom: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow:scroll; */
    /* background-color: blueviolet; */
}

.bloc_droite {
    text-align: center;
    align-items: center;
    position: sticky;
    top:280px;
    margin-top:-100px;
    margin-right:200px;
    margin-left: 10px;
    display:flex;
    flex-direction:column;
    width: 500px;
    /* background-color: aquamarine; */
}

button{
    margin-bottom:20px;
    background-color:rgb(225, 0, 255);
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border:0;
    text-transform: uppercase;
    font-stretch: expanded;
    font-weight: bold;
    font-family: 'Oswald';
    cursor:pointer;
}

footer{
    margin: 0px 20px 0px 20px;
    position:fixed;
    bottom: 0; left: 0; right: 0;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px;
    align-items:center;
    background-color: #fffaed;
}

.centre{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.social-media{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}







/* -------------------------------------------------- ACCORDEON, UN PEU LE BORDEL -------------------------------------------------------  */
/* j ai pas vrmt tout compris a ca mdrr */

  :root {
    --theme: var(--primary);
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* Core styles/functionality */
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    overflow: auto;
  }
  .tab input:checked ~ .tab__content {
    max-height: 10rem;
  }
  
  /* Visual styles */
  .accordion {
    color: var(--theme);
    border-bottom: 2px solid;
    overflow: hidden;
  }
  .tab__label,
  .tab__close {
    display: flex;
    color: rgb(0, 0, 0);
    background: var(--theme);
    cursor: pointer;
  }
  .tab__label {
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid;
  }
  .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    color:#000000;
    transform: rotate(90deg);
    transition: all 0.35s;
  }
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }
  .tab__content p {
    margin: 0;
    padding: 1rem;
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }

  /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
  }
  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }


.cartTab{
    width: 400px;
    background-color: rgb(225, 0, 255);
    color:#fffaed;
    position: fixed;
    inset: 10 10 10 auto;
    display: grid;
    grid-template-rows: 80px 1fr 80px;

  }

.cartTab h1 {
  color: #fffaed;
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cartTab .btn button{
  background-color:#fffaed;
  border:none;
  font-family: 'Oswald';
  font-weight: 500px;
  cursor: pointer;
}
.checkOut{
  grid-column: 2;
  grid-row: 0;
}

.cartTab .listCart .item img{
  width: 200%;
}

.cartTab .listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .quantity span{
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: #fffaed;
  color: rgb(225, 0, 255);
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color:#fffaed;
}

.listCart{
  overflow:auto;
}

.cartTab{
  right: -400px;
  transition: 0.10s;
}

body.activeTabcart .cartTab{
  right: 100;
}

body.activeTabCart .bloc_principal{
  transform: translate(-250px);
}
